*.swp
tags
*~
.DS_STORE
.DS_Store

# ignore image files
*.png
*.jpg
*.gif

.vim/.*
.vim/bundle
.vim/colors
.vim/doc
.vim/syntax
.vim/ftplugin
.vim/info
init.vim

.vim/info/viminfo
.vim/vim_cover.txt

.vim/citation_cache/citation_vim_cache
